@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #5c69e1, #feb47b);
    
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 20%;
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 7px white;
    font-family: "Roboto", sans-serif;
    background-color: white;
}

h3{
    font-size: 17pt;
    color: rgb(55, 121, 188);
    
}

p{
    font-size: 12pt;
}

.container_placar{
    text-align: center;
    padding-top: 5px;
    font-size: 11pt;
    font-weight: normal;
}

.numero{
    width: 40%;
    height: 12%;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 11pt;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;

}

.chutar{
    width: 30%;
    height: 12%;
    padding: 2%;  
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 5px;
    border: 1px solid black;
}

.reiniciar{
    width: 31%;
    height: 12%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 5px;
    border: 1px solid black;
    padding: 2%;
}

.chutar:hover{
    background-color: #F2668B;
    transition: 0.5s;
    color: white;
    border: none;
}

.reiniciar:hover{
    background-color: #F2668B;
    transition: 0.5s;
    color: white;
    border: none;
}

.res{
    padding: 0px 22px;
}

@media (max-width: 600px) {
    form {
        width: 80%;
        height: auto;
        padding: 20px;
    }

    h3 {
        font-size: 14pt;
    }

    p {
        font-size: 10pt;
    }

    .numero, .chutar, .reiniciar {
        width: 80%;
        height: 40px;
    }
}

@media (max-width: 1024px) {
    form {
        width: 90%;
        max-width: 400px; 
        height: auto;
        padding: 20px;
    }
    

    .numero, .chutar, .reiniciar {
        width: 40%;
    }
}

@media (min-width: 1025px) {
    form {
        width: 90%;
        max-width: 500px; 
        padding: 20px;
    }
    
}